header img {
  width: 33%;
}
/*more speciic takes precedence*/
a {
  text-decoration: none;
}
nav a {
  text-decoration: line-through;
}
/*more recent takes presedence */
p { color: magenta; }
p {color: orange; }